<div class="assignment-item">
  <p><b>Title: </b><%= assignment.title %></p>
  <% if !assignment.description.nil? %>
    <% if assignment.description.length > 150 %>
      <p><b>Description: </b><%= truncate(assignment.description, length: 150, seperator: ' ') %></p>
      <%= link_to '...Read more', '', class: "read-more-#{assignment.id} truncate-switch" %>
      <script>
        $('.read-more-<%= assignment.id %>').on('click', function(e) {
          e.preventDefault()
          $(this).parent().html('<p><b>Title: </b><%= assignment.title %></p> <p><b>Description: </b><%= escape_javascript assignment.description %></p> <%= link_to '...Read less', '', class: "read-less-#{assignment.id} truncate-switch" %> <p><b>Due Date: </b><%= assignment.due_date %></p>')
        })
      </script>
      <script>
        $('.read-less-<%= assignment.id %>').on('click', function(d) {
          d.preventDefault()
          $(this).parent().html('<p><b>Title: </b><%= assignment.title %></p> <%= escape_javascript truncate(assignment.description, length: 150, seperator: ' ') %> <%= link_to '...Read more', '', class: "read-more-#{assignment.id} truncate-switch" %> <p><b>Due Date: </b><%= assignment.due_date %></p>')
        })
      </script>
    <% else %>
      <p><b>Description: </b><%= assignment.description %></p>
    <% end %>
  <% end %>
  <p><b>Due Date: </b><%= assignment.due_date %></p> 
</div>