<h3>Edit Assignment</h3>
<%= form_for(@assignment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: " Title", class: "form-contents" %>
    
    <%= f.label :description %>
    <%= f.text_area  :description, placeholder: " What does this assignment entail . . .", class: "form-contents", size: '30x5' %>

    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
    
    <%= f.label :importance %>
    <%= f.select :importance, [['Optional', "Optional"], ['Standard', "Standard"], ['High', "High"]], {}, {class: "form-control"} %>
    
    <%= render 'shared/assignment_attachment_form', :f => f %>
    
    <%= f.text_field :course_id, value: @course.id, type: "hidden" %>

  </div>
  <%= f.submit "Submit", class: "btn btn-primary submit" %>
<% end %>
<%= link_to "delete", @assignment, method: :delete, data: { confirm: "You sure?" } %>