<% provide(:title, @user.name) %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= gravatar_for @user %>
    <h1>
      <%= @user.name %>
    </h1>
  </div>
  <div class="user-info">
    <p><b>Permission:</b> <% if @user.professor == true %> Professor<% else %> Student<% end %></p>
  </div>
</div>

<% if Course.where(admin_id: @user.id).exists? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <h3>Courses I'm Teaching</h3>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="float: right;">
          <% if professor?(current_user) %>
            <%= link_to "Add Course", new_course_path, class: "btn btn-md btn-primary" %>
          <% else %>
            <%= link_to "Add Private Course", new_course_path, class: "btn btn-md btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <ol class="courses-list">
      <%= render @my_courses %>
    </ol>
  </div>  
<% end %>

<% if @user.courses.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Enrolled Courses</h3>
    </div>
    <ol class="courses-list">
      <%= render @courses %>
    </ol>
    <%= will_paginate @courses %>
  </div>
<% end %>