<li id="course-<%= course.id %>">
    <h1 class="course-header-link"><%= link_to course.title, course %></h1>
    <% if course.admin_id != current_user.id && !current_user.nil? && !Request.where(user_id: current_user.id, course_id: course.id).exists? %>
        <%= link_to "Request Enrollment", new_request_path(:course_id => course.id, :user_id => current_user.id), class: "btn btn-md btn-primary" %>
    <% end %>
    <p>
        <b>Course Number:</b> <%= course.code %><% if !course.section.nil? %>:<%= course.section %><% end %>
    </p>
    <p><%= truncate(course.description, length: 160, seperator: ' ') %></p>
    
    <% if course.admin_id == current_user.id %>
      </br><%= link_to "delete", course, method: :delete, data: { confirm: "You sure?" } %>
      <%= link_to "edit", edit_course_path(course), class: "edit-course-link" %>
    <% end %>
</li>