<% provide(:title, @course.title) %>

<h1><%= @course.title %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Course Info</h3>
  </div>
  <div class="course-info"
    <p>
    <b>Professor: </b><%= User.where(id: @course.admin_id).name %>
    </p>
    <p>
      <b>Course Number:</b> <%= @course.code %><% if !@course.section.nil? %>:<%= @course.section %><% end %>
    </p>
    <% if !@course.start_date.nil? && !@course.end_date.nil? %>
        <p><b>Date: </b><%= @course.start_date.strftime('%D') %> - <%= @course.end_date.strftime('%D') %></p>
    <% end %>
    <% if !@course.description.nil? %>
      <p>
      <b>Description:</b>
      <%= simple_format(@course.description).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
      </p>
    <% end %>
    <% if logged_in? && @course.admin_id == current_user.id %>
      </br><%= link_to "delete", @course, method: :delete, data: { confirm: "You sure?" } %>
      <%= link_to "edit", edit_course_path(@course), class: "edit-course-link" %>
    <% end %>
  </div>
</div>

<div class="row">
  
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <h3>Assignments</h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6" style="float: right;">
            <% if logged_in? && @course.admin_id == current_user.id %>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-sm btn-primary" data-toggle="dropdown" id="header-content">Add an Assignment / Event <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <div class="dropdown-assignment-form"><%= render 'shared/assignment_form' %></div>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="course-assignment-feed">
        <% if @course.assignments.exists? %>
          <%= render @assignments.where('due_date > ?', DateTime.now.beginning_of_day), locals: { course: @course } %>
          <% if @assignments.where('due_date < ?', DateTime.now.beginning_of_day).exists? %>
            <h4 class="assignment-passed"><u>Passed due Assignments</u></h4>
            <%= render @assignments.where('due_date < ?', DateTime.now.beginning_of_day), locals: { course: @course } %>
          <% end %>
        <% else %>
          <div class="empty-children-template">
            <h4>No Assignments have been added</h4>
          </div>
        <% end %>
        </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <h3>Topics</h3>
          </div>
          <div class="col-sm-5 col-md-5 col-lg-5" style="float: right;">
            <% if logged_in? && @course.admin_id == current_user.id %>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-sm btn-primary" data-toggle="dropdown" id="header-content">Make an Announcement <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <div class="dropdown-topic-form"><%= render 'shared/topic_form' %></div>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="course-topic-feed">
        <% if @course.topics.exists? %>
          <%= render @topics, locals: { course: @course } %>
        <% else %>
          <div class="empty-children-template">
            <h4>No Announcements so far</h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>


<% if logged_in? && @course.admin_id == current_user.id && @course.public == true %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Enrollment Requests</h3>
    </div>
    <ul>
      <h2>Enrolled</h2>
      <%= render @requests.where(approved: true) %>
      <h2>Requests</h2>
      <%= render @requests.where(approved: false) %>
    </ul>
  </div>
<% end %>

