<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #f48042;">
  <div class="container-fluid">
    
    <%= link_to "Bulletin", root_path, id: "header-logo" %>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "Home",    root_path,  id: "header-content" %></li>
        <li><%= link_to "Courses", courses_path, id: "header-content" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <ul class="nav navbar-nav navbar-right navbar-dark">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="header-content">Admin <b class="caret"></b> &nbsp; </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to "Users", users_url %></li>
                  </ul>
              </li>
            </ul>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="header-content" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><b><%= current_user.name %></b></li>
              <li class="divider"></li>
              <li><%= link_to "Profile",  current_user %></li>
              <% if current_user.professor == false %>
                <li><%= link_to "Requests", requests_path %></li>
              <% end %>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Signup", signup_path, id: "header-content" %></li>
          <li><%= link_to "Log in", login_path,  id: "header-content" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>